//used in module.header

@use './globals' as global;

.connect__menu{

    .connect__wallet{
        @include global.btn_header();
        padding: 5px;
        width: 220px;
        background-color: global.$background-color-light;
        font-weight: global.$font-weight-semibold;
        p{
            background-color: global.$primary-color-light;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            cursor: pointer;
        }
    }
    .connected__wallet{
        @include global.btn_header();
        padding: 5px;
        width: 310px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: global.$background-color-light;
        font-weight: global.$font-weight-semibold;
        .wallet__balance{
            width: 35%;
            border-right: 1px solid global.$primary-color-light;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
        .wallet__address{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 65%;
            padding: 0 5px;
            cursor: pointer;
            .wallet__item{
                display: flex;
            }
        }
        .btnDisconnect{
            position: absolute;
            z-index: 2;
            top: 80px;
            right: 70px;
            cursor: pointer;
            @include global.btn_header();
            background-color: global.$background-color-light;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 2000px){
                right: calc(((100vw - 2000px)/2) + 70px);
              }
        }
    }
}


body.dark{

    .connect__menu{

        .connect__wallet{
            background-color: global.$background-color-dark;
            p{
                background-color: global.$primary-color-dark;
            }
        }
        .connected__wallet{
            background-color: global.$background-color-dark;
            .wallet__balance{
                border-right: 1px solid #787878;
            }
            .btnDisconnect{
                background-color: global.$background-color-dark;
            }
        }
    }

}

.connect__menu.mob{
    .connect__wallet{
        width: 40px;
        border-radius: 10px;
        cursor: pointer;
        #icon{
            use{
                fill: #787878;
            }
        }
    }.connected__wallet{
        width: 40px;
        border-radius: 10px;
        cursor: pointer;
        #icon{
            use{
                fill: #76D572;
            }
        }
        .btnDisconnect{
            right: 16px;
            width: 90px;
            font-size: 14px;
            @media (max-width: 450px){
                right: 5px;
              }
        }
    }
}