//used in module.header

@use './globals' as global;

.blockchain__menu{

  position: relative;

  .blockchain__selected{
    @include global.btn_header();
    padding: 5px 10px;
    width: 180px;
    background-color: global.$background-color-light;
    font-weight: global.$font-weight-semibold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .selected__item{
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .selected__item__icon{
        display: flex;
        gap: 10px;
      }
      &:last-child{
        #icon{
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .blockchain__list{
    z-index: 5;
    position: absolute;
    width: 180px;
    background-color: #DBE4F6;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;
    border-radius: 6px;
    .blockchain__item{
      padding-left: 20px;
      width: 100%;
      height: 30px;
      cursor: pointer;
      display: flex;
      gap: 10px;
      align-items: center;
      &.active{
        background-color: global.$primary-color-light;
      }
      &:hover{
        background-color: global.$light-color-hover;
      }
    }
  }
}


body.dark{
  .blockchain__menu{
    .blockchain__selected{
      background-color: global.$background-color-dark;
    }
    .blockchain__list{
      background-color: #222222;
      .blockchain__item{
        &.active{
          background-color: global.$primary-color-dark;
        }
        &:hover{
          background-color: global.$dark-color-hover;
        }
      }
    }


  }
}

.blockchain__menu.mob{
  .blockchain__selected{
    border-radius: 6px;
    border: 1px solid global.$primary-color-light;
    padding: 0px 10px;
    width: 100%;
    justify-content: flex-start;
    .selected__item{
      width: 210px;
      .selected__item__icon{
        #icon{
          width: 16px;
          height: 16px;
        }
        p{
          margin: 0;
        }
      }
    }
  }
  .blockchain__list{
    top: 50px;
    width: 230px;
    .blockchain__item{
      #icon{
        width: 16px;
        height: 16px;
      }
      p{
        margin: 0;
      }
    }
  }
}

body.dark{
  .blockchain__menu.mob{
    .blockchain__selected{
      border: 1px solid #787878;
    }
  }
}