//used in app

@use './globals' as global;

.walletConnect{
    @include global.popup();
    section{
        position: fixed;
        top: 100px;
        left: calc((100% - 540px) /2);
        width: 90%;
        max-width: 540px;
        @media (max-width: 600px){
            left: 5%;
          }
        .popUp{
            background-color: global.$background-color-light;
            .title__pop{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 25px;
                p{
                    font-size: 14px;
                    font-weight: global.$font-weight-semibold;
                }
                svg{
                    cursor: pointer;
                }
            }.wallets__list{
                width: 100%;
                border: 1px solid global.$primary-color-light;
                border-radius: 6px;
                .wallet__item{
                    padding: 0 20px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid global.$primary-color-light;
                    cursor: pointer;
                    &:hover{
                        background-color: global.$light-color-disable;
                        border-radius: 6px;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    .wallet__name{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        a, p{
                            font-size: 14px;
                            color: #1F509A;
                        }
                    }
                }
            }

        }
    }
}


body.dark{
    .walletConnect{
        .popUp{
            background-color: global.$background-color-dark;

            .wallets__list{
                border: 1px solid #787878;
                .wallet__item{
                    border-bottom: 1px solid #787878;
                    &:hover{
                        background-color: global.$dark-color-disable;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    .wallet__name{
                        a, p{
                            color: #F7931A;
                        }
                    }
                }
            }
        }
        
    }
}