//used in module.header

@use './globals' as global;

.navMenu{
  width: 200px;
  height: 300px;
  background-color: aquamarine;
  position: absolute;
  left: 85px;
  top: calc((100vh - 300px)/2);
  @media (min-width: 2000px){
    left: calc(((100vw - 2000px)/2) + 85px);
  }
}